* {
    background-color: black;
    display: block;
    width: 100%;
    min-height: 3rem;
    color: white;
    margin-bottom: 0;
}
div {
    display: block;
    text-align: center;
    padding-top: 10px;
}
p {
    margin-top: 10px;
}