
<div class="div-body">
<nav>
  <div class="logo">Be Healthy</div>
    <ul class="nav-links">
      <li><a routerLink="/main-page">Strona główna</a></li>
      <li><a routerLink="/recipes">Przepisy</a></li>
      <li><a routerLink="/packages">Pakiety</a></li>
      <li><a routerLink="/contact">Kontakt</a></li>
    </ul>
    <div class="burger" (click)="onClick()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>






  




